/* 去除margin和padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 链接去除装饰 */
a {
    text-decoration: none;
}

/* 去除li标签小圆点 */
li {
    list-style: none;
}

/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

/* 清除浮动带来的父元素塌陷问题 */
.clearFlow::before,
.clearFlow::after {
    content: '';
    display: table;
}

.clearFlow::after {
    clear: both;
}

.clearFlow {
    *zoom: 1
}

/*取消选择样式*/
::selection {
    background: transparent;
}

/* 滚动条样式 */
::-webkit-scrollbar {
    width: 16px;
}

/* 轨道 */
::-webkit-scrollbar-track {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: transparent;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

/* 加载特效样式 */
#loadingDiv {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #fff1eb, #ace0f9);
    z-index: 99999;
}

#loadingDiv div {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#loadingDiv div h2 {
    font-weight: 500;
    font-family: "Lucida Calligraphy", cursive, serif, sans-serif;
}

#loadingDiv div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    pointer-events: none;
    -webkit-animation: whirl 3s linear infinite;
    -o-animation: whirl 3s linear infinite;
    animation: whirl 3s linear infinite;
}

#loadingDiv div span:nth-child(2n) {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}

#loadingDiv div span:nth-child(3) {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
}

#loadingDiv div span:nth-child(4) {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
}

/* 旋转动画 */
@-webkit-keyframes whirl {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes whirl {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-ms-keyframes whirl {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes whirl {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-khtml-keyframes whirl {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes whirl {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}