/* 去除margin和padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 链接去除装饰 */
a {
    text-decoration: none;
}

/* 去除li标签小圆点 */
li {
    list-style: none;
}

/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

/* 清除浮动带来的父元素塌陷问题 */
.clearFlow::before,
.clearFlow::after {
    content: '';
    display: table;
}

.clearFlow::after {
    clear: both;
}

.clearFlow {
    *zoom: 1
}

/*取消选择样式*/
::selection {
    background: transparent;
}

/* input填写字样式 */
::-webkit-input-placeholder {
    color: #A2A2A2;
}

::-moz-placeholder {
    color: #A2A2A2;
    opacity:  1;
}

::-ms-input-placeholder {
    color: #A2A2A2;
}

::placeholder {
    color: #A2A2A2;
}

/* 滚动条样式 */
::-webkit-scrollbar {
    width: 16px;
}

/* 轨道 */
::-webkit-scrollbar-track {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: transparent;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

/* 鼠标跟随物 */
.mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
}

.cursor-inner {
    margin-left: -3px;
    margin-top: -3px;
    width: 6px;
    height: 6px;
    z-index: 100;
    background-color: #eb4a4c;
    -webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
    -moz-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
    -o-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
    transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
}

.cursor-inner.cursor-hover {
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    background-color: #eb4a4c;
    opacity: .3;
}

.cursor-outer {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid #eb4a4c;
    z-index: 100;
    opacity: .5;
    -webkit-transition: all .08s ease-out;
    -moz-transition: all .08s ease-out;
    -o-transition: all .08s ease-out;
    transition: all .08s ease-out;
}

.cursor-outer.cursor-hover {
    opacity: 0;
}

.wrap[data-magic_cursor="hide"] .mouse-cursor {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1111;
}